.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 Why Agile?

    %h3 Agile Development Benefits
    %ul
      %li
        %strong Shortened Time-to-Value:
        a consistent stream of usable increments helps users realize immediate value, rather than waiting for a major release
      %li
        %strong Increased Quality:
        integrated testing throughout the lifecycle discovers quality issues while they are inexpensive to fix
      %li
        %strong Greater Team Efficiency:
        fast iteration cycles identify resource constraints early and limit their window of negative impact
      %li
        %strong Flexibility:
        adjust or reprioritize the product backlog at any time without losing any value from previous development
      %li
        %strong Forecasting Accuracy:
        shorter, more frequent iterations provide more granular, consistent data for time and resource estimation
.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    = image_tag "/images/blogimages/cicd_pipeline_infograph.png", alt: "CI/CD Overview", style: "margin-top: 40px;"
%hr.divider
